/* General for index and portfolio */

:root {
    --navy-blue-color: #2E2F42;
    --slate-color: #434455;
    --white-color: #fff;
    --cornflower-color:#E7E9FC;
    --iris-color: #4D5AE5;
    --ocean-color: #404BBF;
    --cloud-color:#F4F4FD;
    --typical-lh: 1.5;
}

body {
    color: var(--navy-blue-color);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: var(--white-color);
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

img {
    display: block;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
cursor: pointer;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    border: 1px solid var(--cornflower-color);
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-container {
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.text-logo {
    color: var(--navy-blue-color);
    font-family: 'Raleway', sans-serif;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none
}

.nav .text-logo {
}

.span {
    color: var(--iris-color);
}

.nav-list {
    list-style-type: none;
    display: flex;
    margin-left: 76px;
    gap: 40px;
}

.nav-item {
    
}

.nav-link {
    color: var(--navy-blue-color);
    font-weight: 500;
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
    text-decoration: none  
}

.nav-link:hover, 
.nav-link:focus {
    color: var(--ocean-color);  
}

.nav-link.current {
color: var(--ocean-color);
}

.address-link:hover,
.address-link:focus {
    color: var(--ocean-color);   
}
.address-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-item {
    
}

.address-link {
    color: var(--slate-color);
    font-style: normal;
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
    text-decoration: none
}

.footer {
    background-color: var(--navy-blue-color);
    padding-top: 100px;
}

.footer-text-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cloud-color);
}

.footer .footer-text-logo {
}

.footer-text {
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
    color: var(--cornflower-color);
    padding-bottom: 100px;
    padding-top: 16px;
    max-width: 264px;
}

/* For index */

.hero {
    background-color: var(--navy-blue-color);
}

.first {
    padding-top: 188px;
    padding-bottom: 157px;
    text-align: center;
    max-width: 496px;
}

.hero-title {
    color: var(--white-color);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}   

.hero-btn {
    color: var(--white-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: var(--typical-lh);
    background-color: var(--iris-color);
    align-items: center;
    letter-spacing: 0.04em;
    width: 169px;
    height: 56px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 48px;
}

.hero-btn:hover,
.hero-btn:focus {
    color: var(--white-color);
    background-color: var(--ocean-color);
}

.about {
    padding-top: 151px;
}

.about-list {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.about-item {
}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.section-text {
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

.types {
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 72px;
}

.types-list {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.types-item {
}

.types-img {
    margin-bottom: 120px;
}

.team {
    background: var(--cloud-color)
}

.team-list {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.team-item {
}

.team-img {
}

.team-merged {
    background-color: var(--white-color);
    padding: 32px 16px;
    margin-bottom: 120px;
    text-align: center;
}

/* For portfolio */

.filter {
    display: flex; 
    padding-top: 96px;
    padding-bottom: 72px;
}

.typical {
    display: flex;
    gap: 24px;
}

.container-text {
    background-color: var(--white-color);
    border: 1px solid var(--cornflower-color);
    width: 360px;  
}

.last {
    margin-bottom: 120px;
}

.portfolio-hero {
}

.portfolio-hero-title {
}

.portfolio-hero-list { 
    list-style-type: none;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    gap: 48px;
}

.select {
    gap: 24px;
}

.portfolio-hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: var(--typical-lh);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--iris-color);
    background: var(--cloud-color);
    border: 1px solid var(--cornflower-color);
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 24px;
}

.portfolio-hero-btn:hover, 
.portfolio-hero-btn:focus {
    color: var(--white-color);
    background-color: var(--ocean-color);
}

.projects {
}

.portfolio-hero-item {
    flex-basis: calc((100% - 48px) / 3);
    flex-wrap: wrap;
}

.projects-img {
}

.portfolio-hero-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
    margin-top: 32px;
    margin-bottom: 8px;
    padding-left: 16px;
}

.portfolio-hero-text {
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
    color: var(--slate-color);
    padding-bottom: 32px;
    padding-left: 16px;
}
